<!-- begin blog -->
<section class="blog section">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Read my recent posts</h2>
            <a class="section__link" href="{{ '/blog' | relative_url }}">View all posts</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if site.posts.size > 0 %}
        {% assign count = 0 %}
        {% for post in site.posts %}
          {% if count >= 6 %}{% break %}{% endif %}
          
          {% comment %} logic: show if lang is 'en' OR if it has no 'en' translation {% endcomment %}
          {% assign show_post = false %}
          {% if post.lang == 'en' or post.lang == nil %}
            {% assign show_post = true %}
          {% else %}
            {% assign en_version = site.posts | where: "ref", post.ref | where: "lang", "en" %}
            {% if en_version.size == 0 %}
              {% assign show_post = true %}
            {% endif %}
          {% endif %}

          {% if show_post %}
            {% include article.html %}
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

</section>
<!-- end blog -->
