---
layout: default
title: Blog
description: 'Clancy blog features productivity, tips, inspiration. Find out how to set up a successful blog or how to make yours even
better!'
---

{% include section-tags.html %}


<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% assign show_post = false %}
        {% if post.lang == 'en' or post.lang == nil %}
          {% assign show_post = true %}
        {% else %}
          {% assign en_version = site.posts | where: "ref", post.ref | where: "lang", "en" %}
          {% if en_version.size == 0 %}
            {% assign show_post = true %}
          {% endif %}
        {% endif %}

        {% if show_post %}
          {% include article.html class="col col-4 col-d-6 col-t-12" %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}
